body {
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
}

a:hover {
    opacity: .8;
}

.btn {
    padding: 10px 0;
    width: 100%;
    background: #de4848;
    border:  2px solid #6f2f16;
    color: white;
    transition: .5s;
}

.btn[disabled="disabled"] {
    background-color: gray;
    cursor: inherit;
    border: 2px solid lightgray;
    transition: .5s;
}

nav {
    padding: 20px 0;
}

.pink {
    background-color: #ec008c;
}

.brown {
    background-color: #b1452e;
}

.blue {
    background-color: #4f16d0;
}

hr {
    margin: 10px 0 30px;
    height: 1px;
    background-color: #161770;
    width: 60px;
    border: 0;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0px;
}

.upper {
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

.small {
    font-size: 90%;
    margin-bottom: 5px;
}

h2.super {
    font-size: 48px;
    font-weight: bold;
    margin: 30px 0;
}

header a {
    color: #343434;
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item a {
    font-size: 16px;
}

.contacts-header {
    background-image: url(/img/whatsapp.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: left center;
}

.contacts-header p a {
    font-size: 22px;
    font-weight: bold;
}

#slider > div {
    background-image: url(../img/truck.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 486px;
}

.box-preim-container {
    position: absolute;
    bottom: 30px;
    width: 1100px;
}

.box-preim {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}

.box-preim .preim {
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    border-radius: 15px;
}

.slogan {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin: 30px 30px 50px 30px;
    padding: 20px 100px;
    position: relative;
}

.ugolok {
    width: 18px;
    height: 18px;
    border: 2px solid #f25101;
    position: absolute;
}

.ugolok.topleft {
    border-bottom: 0;
    border-right: 0;
    top: 0px;
    left: 0px;
}

.ugolok.topright {
    border-bottom: 0;
    border-left: 0;
    top: 0px;
    right: 0px;
}

.ugolok.bottomleft {
    border-top: 0;
    border-right: 0;
    bottom: 0px;
    left: 0px;
}

.ugolok.bottomright {
    border-top: 0;
    border-left: 0;
    bottom: 0px;
    right: 0px;
}

h1 {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.more a {
    color: #fb4343;
}

#about-block {
    margin-top: 30px;
}

#about-block h2 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 20px;
}

#about-block ul li {
    list-style: disc;
}

#form {
    margin-top: 100px;
}

#form .sent {
    padding: 40px;
    background-color: #f6f6f6;
}

#form .sent h2 {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 20px;
}

#form .sent input {
    width: 100%;
    border: none;
    padding: 20px 15px 20px;
}

#form .sent input[type="checkbox"] {
    width: 3%;
    padding-right: 15px;
}

#form .sent textarea {
    width: 100%;
    padding: 20px 15px 20px;
    border: none;
    resize: none;
}

#contacts {
    margin-top: 80px;
}

#contacts > div {
    background: url(../img/background-footer.png);
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

#contacts hr {
    height: 2px;
    margin: 45px auto 30px;
}

#contacts .contacts-footer h2.super {
    background-image: url(/img/whatsapp.png);
    background-repeat: no-repeat;
    padding-left: 0;
    background-position: left center;
    text-align: center;
}

#contacts .contacts-footer h2.super a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#contacts p.text-blue {
    text-transform: uppercase;
    color: #161770;
    text-align: center;
}

#contacts p.text {
    font-weight: bold;
    text-align: center;
}

footer > div {
    background: url(../img/background-footer1.png);
    padding: 35px 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

footer > div a {
    color: white;
    text-decoration: none;
}

footer .footer-menu li {
    margin-bottom: 15px;
}